<button class="btn btn-info" (click)="addProduct()" >Add Product</button>
<button class="btn btn-info" (click)="backtoHome()" >Back to Home</button>


<div class="container"></div>

<table class="table table-bordered table-info table-striped   table-hover">
  
    <tr>

        <th>Product ID</th>
        <th> Product name</th>
        <th>Product Description</th>
        <th>Unit Price</th>
        <th>Image URL</th>
        <th>Active Bit</th>
        <th>Units in Stock</th>
        <th>Date Created</th>
        <th>Last Updated</th>
        <th>Category ID</th>
    </tr>

    <tr *ngFor="let product of products" [ngClass]="{'metaQuote':product.unitPrice>=20000,
    'nonMetaQuote':product.unitPrice<20000}">
    <td>{{product.productID}}</td>
    <td>{{product.productName}}</td>
    <td>{{product.productDescription}}</td>
    <td>{{product.unitPrice}}</td>
    <td><img src={{product.imageURL}}> </td>
    <td>{{product.activeBit}}</td>
    <td>{{product.unitsInStock}}</td>
    <td>{{product.dateCreated}}</td>
    <td>{{product.lastUpdated}}</td>
    <td>{{product.categoryID}}</td>

     </tr>
</table>








